.new-navbar {
    float: left;
    width: 45%;
}

.new-scroll-view {
    margin-top: 2em;
    height: calc(100vh - 9em);
    overflow: auto;
    width: 20em;
}

.main-scroll-view__btn_new {
    border-radius: 0.7em;
    width: 18em;
    margin-bottom: 0.7em;
}

.main-scroll-view__btn_new_active {
    background-color: #222;
    color: #FFF;
}

.main-scroll-view__btn_new_active:hover {
    animation: 0;
}

.new-countryblock {
    float: left;
    width: 50%;
}