.peace__view {
    display: flex;
    flex-direction: row;
}

.peace__map-block {
    width: 70vw;
}

.peace__info-block {
    width: 30vw;
    height: 100vh;
    background-color: var(--light-black);
    z-index: 555;
    max-height: 100vh;
    overflow-y: auto;
    position: relative;
}

.peace__info-block > h3 {
    color: #fff;
    font-size: 1.1em;
    margin-top: 1em;
}

.peace__info-block__side {
    margin-top: 1em;
}

.peace__info-block__side__header {
    font-size: 0.9em;
    color: #fff;
    text-align: left;
    padding: 0.5em 0 0.5em 1em;

    background-color: var(--dark-gray);
}

.peace__info-block__side__header > span {
    line-height: 100%;
    vertical-align: top;
    margin-left: 0.5em;
}

.peace__info-block__side__header > img {
    height: 1em;
}

.peace__info-block__side__list {
    color: #fff;
    margin-top: 0;
    padding: 1em 0 1em 2.5em;
    font-size: 0.75em;
    text-align: left;
    background-color: var(--gray);
}

.peace__info-block__btn {
    padding: 1em 0;
    width: 100%;
    text-align: center;
}

.peace__info-block__btn > button {
    margin-bottom: 0.75em;
    width: 70%;
}